{{> admin-menu active="collections"}}
<section class="section">
  {{#each users }}
    <div class="title">{{firstName}} {{lastName}}'s Collections</div>
    {{>list-collections}}
  {{/each}}
</section>
