{{> menu}}

<section class="section">
  <div class="title">
    {{collection.title}}
  </div>
  {{> list-spots}}
  {{> add-spot}}
  <div class="column">
    {{> collection-image }}
  </div>
</section>
