{{> menu isUser=true active="dashboard"}}
<div class="title has-text-white-ter">{{collection.title}}</div>
<div class="subtitle has-text-white-ter">Co. {{collection.county}}</div>
{{> list-spots}}
{{> add-spot}}