{{> menu}}
<section class="section">
  <div class="title">{{collection.title}}</div>
  <div class="column">{{> collection-image }}</div>
  <title>Spots</title>
  {{> list-spots}}
  {{> add-spot}}
</section>
