{{> welcome-menu}}
<div class="box has-text-centered has-background-black-ter">
  <div class="title is-3 has-text-white-ter">Welcome to SpotSwap</div>
  <div class="columns is-centered">
    <div class="column is-half">
      <figure class="image">
        <img src="/images/spotswap-img.jpg">
      </figure>
    </div>
  </div>
  <div class="subtitle is-4 has-text-white-ter">Discover and share hidden gems across Ireland!</div>
  <div class="buttons is-centered">
    <a id="login" class="button is-medium is-link mr-3" href="/login">Log in</a>
    <a id="signup" class="button is-medium is-link ml-3" href="/signup">Sign up</a>
  </div>
</div>
