<form class="box has-background-black-ter"
      action="/dashboard/addcollection"
      method="POST">
  <div class="title is-4 has-text-white-ter">Add Collection</div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label has-text-white-ter">Collection Name</label>
        <input class="input"
               type="text"
               placeholder="Enter collection name"
               name="title">
      </div>
      <div class="field">
        <label class="label has-text-white-ter">County</label>
        {{> counties-selector}}
      </div>
    </div>
  </div>
  <button class="button is-link">Add Collection</button>
</form>
