<form action="/dashboard/addcollection" method="POST">
  <div class="field">
    <label class="label">Collection Name</label> <input class="input" type="text" placeholder="Enter collection name" name="title">
  </div>
  <button class="button is-link">Add Collection</button>
</form>
