<form action="/dashboard/addspot" method="POST">
  <div class="field">
    <label class="label">Spot Name</label> <input class="input" type="text" placeholder="Enter spot name" name="title">
  </div>
  <button class="button is-link">Add Spot</button>
</form>
