<div class="title p-3 is-flex">
  <i class="fa-solid fa-earth-europe spotswap-icon"></i>
  <div class="ml-4">
    <a href={{#if titleLink }}{{titleLink}}{{else}}"/"{{/if}}>SpotSwap
  </div>
  </a>
</div>