<div class="field">
  <label class="label has-text-white-ter">Category</label>
  <div class="select">
    <select name="category" id="categoryFilter" required>
      <option value="" selected>All Categories</option>
      <option value="Adventure & Sports">Adventure & Sports</option>
      <option value="Art & Culture">Art & Culture</option>
      <option value="Food & Drink">Food & Drink</option>
      <option value="Historical Sites">Historical</option>
      <option value="Nature & Outdoors">Nature & Outdoors</option>
      <option value="Nightlife & Entertainment">Nightlife & Entertainment</option>
      <option value="Relaxation & Wellness">Relaxation & Wellness</option>
      <option value="Shopping">Shopping</option>
      <option value="Unusual Experiences">Unusual Experiences</option>
    </select>
  </div>
</div>
