<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Spot</th>
    </tr>
  </thead>
  <tbody>
    {{#each collection.spots}}
      <tr>
        <td>
          {{title}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
