<nav class="box navbar has-background-white-ter">
  <div class="navbar-brand">{{> spotswap-brand}}</div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard">Dashboard</a>
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button id="profile"
                      class="button"
                      aria-haspopup="true"
                      aria-controls="dropdown-menu">
                <span class="icon is-large">
                  <i class="fa-solid fa-user"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="/edit-profile" class="dropdown-item">Edit Profile</a>
                <a href="/logout" class="dropdown-item">Log Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
{{>colour-dashboard-script}}
{{>dropdown-script}}
