<div class="title p-3 is-flex">
  <i style="font-size: 48px; color: Dodgerblue;" class="fa-solid fa-earth-europe"></i>
  <div class="ml-4"><a href={{#if titleLink}}{{titleLink}}{{else}}"/"{{/if}}>SpotSwap</div></a>
</div>
